nav.footer-nav
    .footer-container
        .main-logo-footer
            a(href="#")
                img.footer-tablet-logo(src="./images/logo-footer.svg")
                img.footer-logo(src="./images/mishka-logo-mobile.png")
        ul.nav-item.footer-socials
            li.social-icon.social-icon-insta
                a(href="#")
                    img(src="./images/insta.png", alt="insta")
            li.social-icon.social-icon-fb
                a(href="#")
                    img(src="./images/fb.png", alt="fb")
            li.social-icon.social-icon-twitter
                a(href="#")
                    img(src="./images/twitter.png", alt="twitter")
        .nav-item
            span Разработано
            img.logo(src="./images/htmlacademy.png")