meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name="author", content="Viton")
meta(name="description", content="Милые штуки ручной работы для дома")
meta(name="keywords", content="Милые штуки ручной работы для дома")

title Mishka

// cdn's

link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=cyrillic" rel="stylesheet")
link(href="http://allfont.ru/allfont.css?fonts=open-sans-bold" rel="stylesheet" type="text/css")


link(rel="shortcut icon" href="./mishka-fav.ico" type="image/x-icon")

// scripts

script(src="https://unpkg.com/aos@next/dist/aos.js" defer)
script(src="./js/script.js" defer)

// styles

link(rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css")
link(rel='stylesheet', type='text/css', href='css/style.css')

