.navbar--wrapper
    button.menu-btn--wrapper
        span.menu-btn.menu-btn--closed
    nav.navbar
        .logo--wrapper
            a.logo(href='index.html')
        ul.menu.menu--pages
            li.menu__item
                a(href='catalog.html')
                    |Каталог товаров
            li.menu__item
                a(href='form.html')
                    |Вязание на заказ
        ul.menu.menu--interaction
            li.menu__item.search-item
                a#search-btn(href='#')
                    .search-icon
                    |Поиск по сайту
            li.menu__item.cart-item
                a(href='#')
                    .cart-icon
                    |Корзина: пока пуста
        ul.menu.menu--news
            li.menu__item
                a(href="#")
                    |Новые поступления
            li.menu__item
                a(href="#")
                    |Распродажа
        span Бесплатная доставка по России