section.catalog-preview(data-aos='fade-down')
    .container

        .info
            h1 Милые штуки ручной <br> работы для дома

    .catalog-container

        .catalog
            a.catalog-item
                |Предметы <br>интерьера
            a.catalog-item
                |Детские <br>игрушки

section.content-preview(data-aos='fade-up')
    .container

        .item-card
            .card-header
                h3 Вязаные корзинки
                span товар недели
            .card-body
                .item-desc--wrapper
                    .item-desc
                        p Экологически чистая пряжа, ручная работа. Доступны в шести расцветках, и трех размерах.
                        table.item-property
                            tbody
                                tr
                                    th Цвет:
                                    td «Тиффани»/серый
                                tr
                                    th Диаметр:
                                    td 25 см
                                tr
                                    th Высота:
                                    td 15 см
                    .item-price
                        p Цена: 990 руб.
                        .btn(href="#") заказать
                    .item-img
                        img.mobile(src="./images/triple-set-mobile.png", alt="triple set")
                        img.tablet(src="./images/triple-set-tablet.png", alt="triple set")
                        img.desktop(src="./images/triple-set-desktop.png", alt="triple set")

section.about-us(data-aos='fade-right')
    .container

        h2 Коротко о нас:
        ul.info-list
            li.info-item.flower Экологически <br>чистые материалы
            li.info-item.dollar Скандинавский стиль <br>по российской цене
            li.info-item.heart Увеличивает лайки <br>на фотографиях
            li.info-item.ball Связано вручную с <br>любовью и умилением
            li.info-item.rocket Поддержка отечественного <br>производителя
            li.info-item.gift Поставляется в <br>подарочной упаковке

section.feedbacks(data-aos='fade-left')
    .container

        .slider
            .slide-head
                h3 Отзывы
            .slide-content
                p Я молодая мама, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильными, а также набирают больше лайков!
                .author
                    h5 Анастасия Красильникова
                    a(href="#") @misssssiskras
            .slide-footer
                .arrows
                    .arrow.arrow-left
                        img(src="./images/huge-arrow-left.png")
                    .arrow.arrow-right
                        img(src="./images/huge-arrow-right.png")
            .slide-button
                a.btn(href="#") Написать

section.contacts(data-aos='fade-right')
    .container

        h3 Контакты
        .contacts-content
            .contacts-content-item
                p e-mail:
                a.email(href="mailto:info@mimimishkashop.ru") info@mimimishkashop.ru
            .contacts-content-item
                p адрес:
                address г. Санкт-Петербург, <br>ул. Большая Конюшенная, <br>д. 19/8, офис 101

    .contacts-map
        //- here is map on bg
        iframe.google-map(src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d529.3604497747543!2d30.322787452835158!3d59.93879947841906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCDQoNC-0YHRgdC40Y8sIDE5MTE4Ng!3m2!1d59.9387165!2d30.3230474!5e0!3m2!1sru!2sua!4v1580636188981!5m2!1sru!2sua" frameborder="0" style="border:0;" allowfullscreen="")
    .container

        .contacts-btn
            a.btn(href="#") Напишите нам
