.modal.modal-size.modal-hide
    .modal-content
        h2 Добавить в корзину
        p Выберите размер:
        .sizes-buttons
            button.size-btn S
            button.size-btn M
            button.size-btn L
        button.size-btn.add-item Добавить

.modal.modal-search.search-modal-hide
    .modal-content
        input.form-input.search(type="text" placeholder='Enter something...')
        .modal-close
