doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        include ./parts/head.pug
    body
        header
            include ./parts/header.pug

        main
            include ./parts/catalogcontent.pug

        footer
            include ./parts/footer.pug

        //- modals
        include ./parts/modal.pug