doctype html
html
    head
        include ./parts/head.pug
    body.form-body
        header.main-header
            include ./parts/header.pug

        main
            include ./parts/formcontent.pug

        footer
            include ./parts/footer.pug

        //- modals
        include ./parts/modal.pug
