doctype html
html
    head
        include ./parts/head.pug
    body
        header.main-header
            include ./parts/header.pug

        main.main-content
            include ./parts/maincontent.pug

        footer
            include ./parts/footer.pug

        //- modals
        include ./parts/modal.pug
